mat-toolbar {
  background-color: var(--pink); /* B3 Pink (--pink) and B3 Cyan (--cyan) available as variables */
}

.logo {
  height: 40px;
  width: auto;
  padding: 12px;
}

.example-spacer {
  flex: 1 1 auto;
}
