mat-toolbar {
  background-color: var(--pink); /* B3 Pink (--pink) and B3 Cyan (--cyan) available as variables */
}

.logo {
  height: 100%;
  width: auto;
  padding: 1rem;
}

.flex-spacer {
  flex: 1 1 auto;
}
