<h3 mat-dialog-title>Bjud in användare</h3>
<mat-dialog-content>
  <form [formGroup]="emailsForm">
    <div formArrayName="emails">
      <div *ngFor="let emailControl of emailFormArray.controls; let i = index" class="email-input-row">
        <mat-form-field class="full-width">
          <mat-label>E-post</mat-label>
          <input type="text" name="searchUser" matInput [formControlName]="i" [matAutocomplete]="auto" data-1p-ignore>

          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
            <mat-option *ngFor="let user of filterUsers(emailControl.value)" [value]="user.username">
              {{ user.firstName }} {{ user.lastName }}
              <span class="option-email">({{ user.username }})</span>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <button mat-icon-button aria-label="Remove email" (click)="removeEmail(i)" class="removeButton">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
    <button mat-button (click)="addEmail()"><mat-icon>person_add</mat-icon>Lägg till ytterligare</button>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="null">Stäng</button>
  <button mat-button (click)="sendInvites()">Skicka</button>
</mat-dialog-actions>
