.event-card {
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 23px 0px;
  border-radius: 12px;
  height: 100%;
}

.event-card img {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
}

.card-link {
  color: inherit;
  text-decoration: none;
}

mat-divider {
  margin: auto 1rem 0 1rem;
}

.mat-mdc-card-content>:last-child:not(.mat-mdc-card-footer) {
  margin-bottom: 1rem;
}
