<mat-card class="event-card">
  <a [routerLink]="['/event', event.id]" class="card-link">
    <img [src]="event.image" [alt]="event.imageAlt" />
  </a>
  <mat-card-header>
    <mat-card-title>
      <a [routerLink]="['/event', event.id]" class="card-link">
        {{ event.title }}
      </a>
    </mat-card-title>
    <mat-card-subtitle
      ><strong style="color: black">Skapad av:</strong>
      {{ (organizerInfo$ | async)?.username }}</mat-card-subtitle
    >
  </mat-card-header>
  <mat-card-content>
    <p class="cardDescription">{{ event.shortDescription }}</p>
    <span class="flex-spacer"></span>
    <div class="event-card-info">
      <mat-icon>event</mat-icon>
      <p>
        <strong>Startar:</strong> {{ event.startDateTime | date: 'longDate' }}
        {{ event.startDateTime | date: 'shortTime' }}<br />
        <strong>Slutar:</strong>
        <span style="display: none" #startDate>{{ event.startDateTime | date: 'shortDate' }}</span>
        <span style="display: none" #endDate>{{ event.endDateTime | date: 'shortDate' }}</span>
        <ng-container *ngIf="startDate.innerText !== endDate.innerText">
          {{ event.endDateTime | date: 'longDate' }}
        </ng-container>
        {{ event.endDateTime | date: 'shortTime' }}
      </p>
    </div>
    <div class="event-card-info">
      <mat-icon>location_on</mat-icon>
      <a [href]="event | googleMapsUrl" target="_blank">{{ event | locationFormat }}</a>
    </div>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-actions *ngIf="currentUser$ | async as currentUser">
    <button mat-button [matMenuTriggerFor]="rsvpMenu">
      <mat-icon>expand_more</mat-icon>
      {{ registrationStatus }}
      @if (registrationStatus === 'Inbjuden') {
        <mat-icon color="accent" style="order: 1">notification_important</mat-icon>
      }
    </button>
    <mat-menu #rsvpMenu="matMenu">
      <mat-radio-group
        aria-labelledby="rsvp-radio-group-label"
        class="rsvp-radio-group"
        [(ngModel)]="registrationStatus"
      >
        @for (status of statusOptions; track status) {
          <mat-radio-button
            class="rsvp-radio-button"
            [value]="status"
            (click)="rsvp(event.id, currentUser.userId, status)"
          >
            {{ status }}
          </mat-radio-button>
        }
      </mat-radio-group>
    </mat-menu>
    <span class="flex-spacer"></span>
    <button mat-button (click)="copyToClipboard(event.id)">
      <mat-icon>share</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
