<mat-card class="event-card">
    <a href="/events/1" class="card-link"><img [src]="imageUrl" [alt]="imageAlt"></a>
    <mat-card-header>
        <mat-card-subtitle>{{ subtitle }}</mat-card-subtitle>
        <mat-card-title><a href="/events/1" class="card-link">{{ title }}</a></mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>{{ longText }}</p>
        <mat-divider></mat-divider>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button>RSVP</button>
        <button mat-button>SHARE</button>
    </mat-card-actions>
</mat-card>
