.event-card {
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 23px 0px;
  border-radius: 12px;
  height: 100%;
}

.event-card img {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
}

.cardDescription {
  margin: 0.5rem 0;
}

.event-card-info {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.mat-mdc-card-content > :last-child:not(.mat-mdc-card-footer) {
  margin-bottom: 1rem;
}

mat-card-header {
  margin-bottom: 0.5rem;
}

mat-card-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.rsvp-radio-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.rsvp-radio-button {
  margin: 5px;
}
