<div class="event-list-header">
  <h1>Events</h1>
  <button
    mat-fab
    aria-label="Create event button"
    class="create-event-button"
    (click)="navigateToCreateEvent()"
  >
    <mat-icon>add</mat-icon>
  </button>
</div>
<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="all-events-tab">lists</mat-icon>
      Alla event
    </ng-template>
    <div class="events-container">
      <app-event-card *ngFor="let event of eventList" [event]="event">
      </app-event-card>
    </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="my-events-tab">calendar_month</mat-icon>
      Mina event
    </ng-template>
    <div class="events-container">
      <app-event-card *ngFor="let event of eventList" [event]="event">
      </app-event-card>
    </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="my-created-events-tab">dashboard</mat-icon>
      Administrera event
    </ng-template>
    <div class="events-container">
      <app-event-card *ngFor="let event of eventList" [event]="event">
      </app-event-card>
    </div>
  </mat-tab>
</mat-tab-group>
<mat-paginator
  [length]="totalEvents"
  [pageSize]="eventsPerPage"
  [pageSizeOptions]="[6, 12, 18]"
  (page)="onPageChange($event)"
>
</mat-paginator>
