<div class="container">
    <div class="login-header">
        <h1>Logga In</h1>
        <span class="flex-spacer"></span>
    </div>
    <form>
        <div class="form-group">
            <mat-form-field>
                <mat-label>Ange e-postadress</mat-label>
                <input matInput type="email" class="form-control" id="email" required name="email"
                    placeholder="epost@exempel.com" [(ngModel)]="email" />
                <mat-icon matSuffix>face</mat-icon>
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field>
                <mat-label>Ange lösenord</mat-label>
                <input matInput type="password" class="form-control" id="password" required name="password"
                    placeholder="Lösenord" [(ngModel)]="password" />
                <mat-icon matSuffix>password</mat-icon>
            </mat-form-field>
        </div>
        <div class="form-group">
            <button mat-raised-button color="accent" type="button" (click)="onLoginClick()">
                Logga In
            </button>
        </div>
    </form>
</div>
