<div class="container">
    <div class="login-header">
        <h1>Logga In</h1>
        <span class="flex-spacer"></span>
    </div>
    <form #loginForm="ngForm">
        <div class="form-group">
            <mat-form-field>
                <mat-label>Ange e-postadress</mat-label>
                <input matInput type="email" name="email" id="email" class="form-control" required
                    placeholder="epost@exempel.com" [(ngModel)]="email" email />
                <mat-icon matSuffix>face</mat-icon>
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field>
                <mat-label>Ange lösenord</mat-label>
                <input matInput type="password" name="password" class="form-control" id="password" required
                    [minlength]="passwordMinLength" name="password" placeholder="Lösenord" #passwordField="ngModel"
                    [(ngModel)]="password" (keyup.enter)="onLoginClick()" />
                <mat-icon matSuffix>password</mat-icon>
                <mat-hint align="end">{{ passwordField.value?.length || 0 }}/{{ passwordMinLength }}</mat-hint>
            </mat-form-field>
        </div>
        <div class="form-group">
            <button mat-raised-button color="accent" type="submit" [disabled]="!loginForm.form.valid" (click)="onLoginClick()">Logga In</button>
        </div>
    </form>
</div>
