.center-content {
  display: flex;
  flex-direction: column;
  height: 100%; /* Need full height to center vertically */
  margin: 1rem;
}

@media (min-width: 640px) {
  .center-content {
    margin: 4rem 4rem;
  }
}

@media (min-width: 768px) {
  .center-content {
    margin: 4rem 8rem;
  }
}

@media (min-width: 1024px) {
  .center-content {
    margin: 4rem 12rem;
  }
}
