/* Main */

.main-wrapper {
  margin: 1rem auto;
  padding: 0 1rem;
  width: 100%;
}

/* Header */

mat-toolbar {
  background-color: var(--black);
}

.header-wrapper {
  display: flex;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  align-items: center;
  gap: 1rem;
}

.logo-container {
  display: flex;
  gap: 1rem;
  align-items: center;
  color: var(--white);
}

.logo-container:hover {
  text-decoration: none;
}

.logo-container img {
  height: 100%;
  width: auto;
}

.menu-item {
  font-size: 1rem;
  color: var(--white);
}

.menu-item:hover {
  text-decoration: none;
  color: var(--pink-light);
}

.menu-item:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: '';
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.menu-item:hover:after {
  width: 100%;
  left: 0;
}

/* Footer */

.footer {
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: #000000;
  color: #ffffff;
}

.footer .logo {
  height: 2rem;
  width: auto;
  padding: 0;
}

@media (min-width: 640px) {
  .header-wrapper {
    width: calc(100% - 1rem * 2);
  }
  .menu-item {
    text-transform: uppercase;
    letter-spacing: 0.15em;
    display: inline-block;
    padding: 15px 20px;
    position: relative;
  }

  .main-wrapper {
    margin: 2rem auto;
    width: calc(100% - 1rem * 2);
  }

  .footer {
    padding: 4rem;
  }
}

@media (min-width: 768px) {
  .header-wrapper {
    width: calc(100% - 2rem * 2);
  }

  .main-wrapper {
    margin: 3rem auto;
    width: calc(100% - 2rem * 2);
  }
}

@media (min-width: 1024px) {
  .header-wrapper {
    width: calc(100% - 6rem * 2);
  }

  .main-wrapper {
    margin: 4rem auto;
    width: calc(100% - 6rem * 2);
  }
}

@media (min-width: 1280px) {
  .header-wrapper {
    width: calc(100% - 8rem * 2);
  }

  .main-wrapper {
    width: calc(100% - 8rem * 2);
  }
}

@media (min-width: 1536px) {
  .header-wrapper {
    width: calc(1773px - 17rem * 2);
  }

  .main-wrapper {
    width: calc(1773px - 16rem * 2);
  }
}
