<mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>

<div *ngIf="!isLoading">
  <div *ngIf="event; else noEventTemplate" class="event-detail-container">
    <button mat-button appBackButton (click)="goBack()" class="back-button">
      <mat-icon>arrow_back</mat-icon>Tillbaka
    </button>
    <div class="event-detail-header" *ngIf="currentUser$ | async as currentUser">
      <h1>{{ event.title }}</h1>
      <span class="flex-spacer"></span>
      <div>
        <button mat-button [matMenuTriggerFor]="rsvpMenu" [ngClass]="{
          'rsvp-button-green': registrationStatus === 'Kommer',
          'rsvp-button-yellow': registrationStatus === 'Kanske' || registrationStatus === 'Inbjuden',
          'rsvp-button-red': registrationStatus === 'Kommer inte'
        }">
          <mat-icon>expand_more</mat-icon>
          {{ registrationStatus || 'RSVP' }}
          @if (registrationStatus === 'Inbjuden') {
          <mat-icon color="accent" style="order: 1">notification_important</mat-icon>
          }
        </button>
        <mat-menu #rsvpMenu="matMenu">
          <mat-radio-group aria-labelledby="rsvp-radio-group-label" class="rsvp-radio-group"
            [(ngModel)]="registrationStatus">
            @for (status of statusOptions; track status) {
            <mat-radio-button class="rsvp-radio-button" [value]="status"
              (click)="rsvp(event.id, currentUser.userId, status)">
              {{ status }}
            </mat-radio-button>
            }
          </mat-radio-group>
        </mat-menu>
      </div>
      <button mat-icon-button (click)="copyToClipboard(event.id)">
        <mat-icon>link</mat-icon>
      </button>
      <button mat-icon-button [matMenuTriggerFor]="manageEventMenu" *ngIf="currentUser.role === 'Admin'"
        aria-label="Menu for managing event">
        <mat-icon>manage_accounts</mat-icon>
      </button>
      <mat-menu #manageEventMenu="matMenu">
        <button mat-menu-item (click)="navigateToEditEvent()">
          <mat-icon>edit</mat-icon>
          <span>Redigera event</span>
        </button>
        <button mat-menu-item (click)="deleteEvent()">
          <mat-icon color="warn">delete</mat-icon>
          <span>Radera event</span>
        </button>
      </mat-menu>
    </div>
    <div class="event-detail-body">
      <div class="event-detail-body-right">
        <div class="event-detail-body-right-item">
          <div class="event-info-row">
            <mat-icon>person</mat-icon>
            <span>
              <strong>Skapad av:</strong>
              {{ (organizerInfo$ | async)?.username }}
            </span>
          </div>
        </div>
        <div class="event-detail-body-right-item">
          <div class="event-info-row">
            <mat-icon>event</mat-icon>
            <span>
              <strong>Startar:</strong>
              {{ event.startDateTime | dateFormat: 'dateFull' }} {{ event.startDateTime | dateFormat: 'time' }}
              <br>
              <strong>Slutar:</strong>
              @if (isSameDay(event)) {
              {{ event.endDateTime | dateFormat: 'time' }}
              } @else {
              {{ event.endDateTime | dateFormat: 'dateFull' }} {{ event.endDateTime | dateFormat: 'time' }}
              }
            </span>
          </div>
        </div>
        <div class="event-detail-body-right-item">
          <div class="event-info-row">
            <mat-icon>location_on</mat-icon>
            <a [href]="event | googleMapsUrl" target="_blank">{{ event | locationFormat }}</a>
          </div>
          <div class="googleMapsEmbed">
            <iframe [src]="event | googleMapsEmbedUrl | safe" loading="lazy" width="100%" height="250" frameborder="0"
              allowfullscreen></iframe>
          </div>
        </div>
      </div>
      <div class="event-detail-body-left">
        <div class="event-detail-body-left-item">
          <p>{{ event.shortDescription }}</p>
        </div>
        <div class="event-detail-body-left-item">
          <img [src]="event.image" [alt]="event.imageAlt" class="event-image"
            (error)="event.image='assets/event-placeholder.webp'" />
        </div>
        <div class="event-detail-body-left-item">
          <h2>Mer information</h2>
          <div [innerHTML]="event.longDescription | markdown | async"></div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #noEventTemplate>
    <div class="noEventContainer">
      <h1 aria-hidden="true">¯\(ツ)/¯</h1>
      <p>Beklagar, eventet kunde inte hittas.</p>
    </div>
  </ng-template>
</div>
