.container {
    margin: 1rem 0;
}

.form-group {
    display: flex;
    flex-direction: column;
}

@media (min-width: 640px) {
    .form-group {
        display: flex;
        flex-direction: row;
    }

    .form-group mat-form-field + mat-form-field {
        margin-left: 0.5rem;
    }
  }

.form-group mat-form-field {
    width: 100%;
    max-width: 400px;
}
