@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --pink-light: #ff79a7;
  /* Use on dark bg */
  --pink: #ff4081;
  --pink-dark: #df004c;
  /* Use on light bg */
  --cyan: hsl(180, 89%, 42%);
  --black: #000000;
  --white: #ffffff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  height: 100dvh;
  margin: 0;
  font-family: 'Work Sans', system-ui, sans-serif;
  font-size: 1rem;
  background-color: #e6e6e6;
}

a {
  color: var(--pink-dark);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 2rem;
  font-weight: 600;
}

h1,
h2 {
  margin: 0;
}

.invert-color {
  filter: invert(100%);
  height: 2rem;
}

.flex-spacer {
  flex: 1 1 auto;
}

.center-text {
  text-align: center;
}

app-root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

mat-icon {
  flex-shrink: 0;
}
