*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --pink: #FF4F94;
    --cyan: #0CCCCC;
}

body {
    height: 100dvh;
    margin: 0;
    font-family: system-ui, sans-serif;
}

app-root {
    display: flex;
    flex-direction: column;
    height: 100%;
}
